<table id="table_form">
  <tr>
    <td><label>Nom</label></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><label>Sous type</label></td>
    <td><%= f.select :tool_subtype_id, ToolSubtype.for_measuring_engines.collect{|s| [s.name, s.id]} %></td>
  </tr>
  <tr>
    <td><label>Marque</label></td>
    <td><%= f.text_field :brand %></td>
  </tr>
  <tr>
    <td><label>Modèle</label></td>
    <td><%= f.text_field :version %></td>
  </tr>
  <tr>
    <td><label>Quantité</label></td>
    <td><%= f.text_field :quantity %></td>
  </tr>
  <tr>
    <td><label>Laboratoire</label></td>
    <td><%= f.select :laboratory_id, Laboratory.all.collect{|a| [a.name, a.id]} %></td>
  </tr>
  <tr>
    <td><label>Principes de fonctionnement</label></td>
    <td><%= f.text_area :operating_principles %></td>
  </tr>
  <tr>
    <td><label>Caractéristiques techniques</label></td>
    <td><%= f.text_area :specifications %></td>
  </tr>
  <tr>
    <td><label>Document explicatif </label></td>
    <td><%= f.text_area :explanatory_document %></td>
  </tr>
  
  <tr>
    <td><label>Etalonnage/calibration/vérification</label></td>
    <td><%= f.select :calibration_id,Calibration.all.collect{|c| [c.calibration, c.id]}, :include_blank => true %></td>
  </tr>
  <tr>
    <td><label>Remarque(s) Etalonnage/calibration/vérification</label></td>
    <td><%= f.text_area :calibration_comment %></td>
  </tr>
  <tr>
    <td><label>Date d’achat de l’équipement</label></td>
    <td><%= f.text_field :purchase_date %></td>
  </tr>
  <tr>
    <td><label>Autre(s) commentaire(s)</label></td>
    <td><%= f.text_area :comment %></td>
  </tr>
  <tr>
    <td><label>Prêt possible(uniquement sur le site de l’organisme propriétaire)</label></td>
    <td><%=  f.radio_button :use_on_site, true %>Oui
      <%=  f.radio_button :use_on_site, false %>Non</td>
  </tr>
  <tr>
    <td><label>Emprunt possible(en dehors du site de l’organisme propriétaire)</label></td>
    <td><%=  f.radio_button :borrowing, true %>Oui
      <%=  f.radio_button :borrowing, false %>Non</td>
  </tr>
  <tr>
    <td><label>Conditions de prêt et d’emprunt de l’équipement</label></td>
    <td><%= f.select :use_condition_ids, (UseCondition.for_test_and_measuring.collect{|c| [c.conditions, c.id]}<<["- Aucune -",""]).sort,{}, {:multiple => true} %></td>
  </tr>
  <tr>
    <td><label>N° d’enregistrement interne</label></td>
    <td><%= f.text_area :internal_number %></td>
  </tr>
  <tr>
    <td><label>Localisation sur le site</label></td>
    <td><%= f.select :mi_localization_on_site, [["Variable", "Variable"], ["Définie", "Définie"]] %></td>
  </tr>
  <tr id="tr_precisions">
    <td><label>Précisions</label></td>
    <td><%= f.text_area :localization_on_site_precision %></td>
  </tr>  
  <tr>
    <td><label>Affichage sur site</label></td>
    <td>

       <%=  f.radio_button :privacy, "Tous publics", {:checked => @measuring_engine.new_record? || !@measuring_engine.privacy.eql?("Restreint")? true : false} %>Tous publics
      <%=  f.radio_button :privacy, "Restreint", {:checked => @measuring_engine.privacy.eql?("Restreint")} %>Restreint



      <%#=  f.check_box :privacy, {},"Tous publics", @measuring_engine.new_record? ? true : @measuring_engine.privacy.eql?("Tous publics")  %>
      <%#=  f.check_box  :privacy, {}, "Restreint", @measuring_engine.privacy.eql?("Restreint")%></td>
  </tr>
  <tr>
    <td class="label_td"><label>Lien internet</label></td>
    <td><%= f.text_field :website %></td>
  </tr>
  <tr>
    <td><label>Equipement liés</label></td>
    <td><%= f.select :linked_tools,  @measuring_engine.new_record? ? (Tool.all.collect{|c| [c.name, c.id]}<<["- Aucun -",""]).sort :
    (((Tool.all-(@measuring_engine.to_a)).collect{|c| [c.name, c.id]}<<["- Aucun -",""]).sort),
  {:selected => (@measuring_engine.relations_from.collect(&:tool_to_id)+@measuring_engine.relations_to.collect(&:tool_from_id)).flatten.uniq},{:multiple => true} %></td>
  </tr>
   <tr>
    <td><label>Correspondants</label></td>   
    <td><%= f.select :correspondent_ids, (User.correspondents.collect{|c| [c.name, c.id]}<<["- Aucun -",""]).sort,{}, :multiple => true %></td>
  </tr>
 
</table>

<%= javascript_tag("
  $(document).ready(function () {
 if ($('#measuring_engine_mi_localization_on_site').val()=='Variable'){
        $('#tr_precisions').hide();
      }else {
        $('#tr_precisions').show();
      }
    $('#measuring_engine_mi_localization_on_site').change(function() {
      if ($(this).val()=='Variable'){
        $('#tr_precisions').hide();
      }else {
        $('#tr_precisions').show();
      }

    });
  });") %>


