<table id="table_form">
  <tr>
    <td><label>Nom</label></td>
    <td><%= f.text_field :name %></td>
  </tr>
   <tr>
    <td><label>Login</label></td>
    <td><%= f.text_field :login %></td>
  </tr>
   <tr>
    <td><label>Email</label></td>
    <td><%= f.text_field :email %></td>
  </tr>
   <tr>
    <td><label>Téléphone</label></td>
    <td><%= f.text_field :phone_number %></td>
  </tr>
   <tr>
    <td><label>Remarques</label></td>
    <td><%= f.text_area :comments %></td>
  </tr>
  <% if @correspondent.new_record? %>
    <tr>
      <td><label>Mot de passe</label></td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td><label>Confirmation Mot de passe</label></td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
  <% end %>
   <tr>
    <td><label>Entités de recherche</label></td>
    <td><%= f.select :search_entity_id, SearchEntity.all.collect{|t| [t.name, t.id]} %></td>
  </tr>
  <tr>
    <td><label>Sous entité</label></td>
    <td><%= f.select :search_subentity_id, SearchSubentity.all.collect{|t| [t.name, t.id]} %></td>
  </tr>
   <tr>
    <td><label>Equipements</label></td>
    <td><%= f.select :tool_ids, Tool.all.collect{|t| [t.name, t.id]}, {},:multiple => true %></td>
  </tr>
</table>


