<% if !current_user %>
<p>
  Si vous êtes membre du réseau, identifiez-vous, sinon, utilisez le formulaire de recherche ci-dessous.<br /><br />
</p>
  <div id="form_login">

    <%  form_tag login_databases_path do |f| %>
      <table style="width:715px">
        <tr>
          <td>
            <%=  label_tag "Votre identifiant" %>
            <%=  text_field_tag "login" %>
          </td>
          <td>
            <%=  label_tag "Votre code d'accès" %>
            <%= password_field_tag "password" %>
          </td>
          <td>
            <%=  link_to "Mot de passe oublié ?", forgot_password_tools_path %>
          </td>
          <td>
            <%= submit_tag "OK", :id => "btn_login" %>
          </td>
        </tr>
      </table>
    <% end %>
    <div style="clear:both"></div>
   
  </div>
<% end %>
<br/>