
<div class="tool_show">
  <div class="tool_top_show"></div>
  <div class="tool_middle_show">
      <% form_tag(send_informations_mail_tools_path()) do  %>
        <%= hidden_field_tag "tool_id", tool.id %>
        <table class="front_forms">
          <tr>
            <td><label>Nom*</label></td>
            <td><%= text_field_tag "last_name" %></td>
          </tr>
          <tr>
            <td><label>Prénom*</label></td>
            <td><%= text_field_tag "first_name" %></td>
          </tr>
          <tr>
            <td><label>Email*</label></td>
            <td><%= text_field_tag "email" %></td>
          </tr>
          <tr>
            <td valign="top"><label>Message*</label></td>
            <td><%= text_area_tag "message" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= submit_tag "Envoyer" %></td>
          </tr>
        </table>
        

      <% end %>
  </div>
  <div class="tool_bottom_show"></div>
</div>

