<h1 class="tools_title">Base de données équipements des laboratoires de génie civil de la région.</h1>



<% if !current_user %>
<p>
  Si vous êtes membre du réseau, identifiez-vous, sinon, utilisez le formulaire de recherche ci-dessous.
</p>
  <div id="login">
    <%  form_tag login_databases_path do |f| %>
       <%=  label_tag "Votre identifiant" %>
       <%=  text_field_tag "login" %>

       <%=  label_tag "Votre code d'accès" %>
        <%= password_field_tag "password" %>


       <%= submit_tag "OK", :id => "btn_login" %>

    <% end %>
  </div>
<% end %>
<br/>

<p class="blue_title">Interrogation de la base de données : </p>
<div id="tool_search">
<div class="tool_show">
  <div class="tool_top_show"></div>
  <div class="tool_middle_show">    
      <%= link_to_function "Tous", "make_type()", :class =>"tool_type_filter #{'active' if @tool_type.blank?}" %>
      <%= link_to_function "Moyens d'essais", "make_type('TestEngine')", :class =>"tool_type_filter #{'active' if @tool_type.eql?("TestEngine")}" %>
      <%= link_to_function "Moyens de mesure et d'analyse", "make_type('MesuringEngine')", :class =>"tool_type_filter #{'active' if @tool_type.eql?("MesuringEngine")}" %>
      <%= link_to_function "Logiciels", "make_type('Software')", :class =>"tool_type_filter #{'active' if @tool_type.eql?("Software")}" %>
      <%= link_to_function "Machines-outil", "make_type('ToolEngine')", :class =>"tool_type_filter #{'active' if @tool_type.eql?("ToolEngine")}" %>


      <%  form_for @search,:html => { :id => "search_form" } do |f| %>
          <%= f.text_field :name_like, :class => "equipment_name" %>
          <%= f.hidden_field :type_equals %>
          <%= submit_tag "&nbsp;", :class => "search_btn" %>
          <div id="search-separate"></div>
          <h1 class="search_title">Affinez votre recherche</h1>
          <table style="width:auto;margin:auto" class="refine_search" align="center">
            <% case @tool_type
               when "TestEngine" %>
                <%= render :partial => "test_engines/refine_search", :locals => {:f => f} %>
              <% when "MesuringEngine" %>
                <%= render :partial => "measuring_engines/refine_search", :locals => {:f => f} %>
              <% when "Software" %>
                <%= render :partial => "softwares/refine_search", :locals => {:f => f} %>
              <% when "ToolEngine" %>
                <%= render :partial => "tool_engines/refine_search", :locals => {:f => f} %>
              <% else %>
                <%= render :partial => "tools/refine_search", :locals => {:f => f} %>
            <% end %>
          </table>
      <% end  %>    
   </div>
  <div class="tool_bottom_show"></div>
</div>
</div>

<div id="search_results">
  <div id="equipments_list">
    <table width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Laboratoire</th>
          <th>Nom</th>
          <th>Sous type</th>
          <th>Marque/Constructeur</th>
          <th class="last">Modèle/Version</th>
        </tr>
      </thead>
      <% @tools.each do |tool| %>
        <tr>
           <td><%= tool.laboratory %></td>
          <td>
            <%= link_to tool.name, tool %>
          </td>         
          <td><%= tool.tool_subtype %></td>
          <td><%= tool.brand %></td>
          <td class="last"><%= tool.version %></td>
        </tr>
      <% end %>
    </table>
    
  
  </div>
 
</div>
Pour visionner la fiche complète d'un équipement, cliquez sur le nom de celui-ci.
<div class="tools_pagination">
  <%= will_paginate @users, :next_label => ">", :previous_label => "<" %>
</div>

<%= javascript_tag("    
     $(document).ready(function () {

        $('.select_refine_search').selectbox();
        $('.select_refine_search').change(function() {
          $('#search_form').trigger('submit');
        });
      });
    

    function make_type(type) {
      if (type){
        $('#search_type_equals').val(type);
      }else {
        $('#search_type_equals').val('');
      }
      $('#search_form').trigger('submit');
    }

  ") %>

