<% if current_user %>
<div style="position:absolute;left:0;margin-top:-20px;">
  <em>
    Connecté en tant que <%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_account_database_path(current_user) %>
    - <%= link_to "Deconnexion", logout_databases_path %>
  </em>
</div>
<% end %>
<h1>Bienvenue sur la base de données équipements des laboratoires de génie civil de la région</h1>


<%= render :partial => "tools/connexion" %>


<div id="tool_search">
<div class="tool_show">
  <div class="tool_top_show"></div>
  <div class="tool_middle_show">
      <%= link_to "Tous", tools_path, :class =>"tool_type_filter #{'active' if @tool_type.blank?}" %>
      <%= link_to "Moyens d'essais", test_engines_path, :class =>"tool_type_filter #{'active' if @tool_type.eql?("TestEngine")}" %>
      <%= link_to "Moyens de mesure et d'analyse", measuring_engines_path, :class =>"tool_type_filter #{'active' if @tool_type.eql?("MeasuringEngine")}" %>
      <%= link_to "Logiciels", softwares_path, :class =>"tool_type_filter #{'active' if @tool_type.eql?("Software")}" %>
      <%= link_to "Machines-outils", tool_engines_path, :class =>"tool_type_filter #{'active' if @tool_type.eql?("ToolEngine")}" %>


      <%  form_for @search,:html => { :id => "search_form" } do |f| %>
          <%= f.text_field :name_or_specifications_or_operating_principles_like, :value => params[:search] ? params[:search][:name_or_specifications_or_operating_principles_like] : nil, :class => "equipment_name" %>
          <%= f.hidden_field :type_equals %>
          <%= submit_tag "&nbsp;", :class => "search_btn" %>
          <div id="search-separate"></div>
          <h1 class="search_title">Affinez votre recherche</h1>
          <table style="width:auto;margin:auto" class="refine_search" align="center">

            <% case @tool_type
               when "TestEngine" %>
                <%= render :partial => "test_engines/refine_search", :locals => {:f => f} %>
              <% when "MeasuringEngine" %>

                <%= render :partial => "measuring_engines/refine_search", :locals => {:f => f} %>
              <% when "Software" %>
                <%= render :partial => "softwares/refine_search", :locals => {:f => f} %>
              <% when "ToolEngine" %>
                <%= render :partial => "tool_engines/refine_search", :locals => {:f => f} %>
              <% else %>
                <%= render :partial => "tools/refine_search", :locals => {:f => f} %>
            <% end %>
          </table>
      <% end  %>
   </div>
  <div class="tool_bottom_show"></div>
</div>
</div>
<br />

<% if current_user %>
  <div class="tools_pagination pagination_top">
    <table style="width:100%">
      <tr>
        <td style="text-align:left;width:100px;"><%= @tools.total_entries %> résultat(s)</td>
        <td><%= will_paginate @tools, :next_label => ">", :previous_label => "<" %></td>
      </tr>
    </table>
  </div>
  <div class="results_export">
    <%= link_to "Export Excel",measuring_engines_path(:format => :csv, :search => session[:search_params]) %>
  </div>
<% else %>
  <div class="tools_pagination">
    <table style="width:100%">
      <tr>
        <td style="text-align:left;width:100px;"><%= @tools.total_entries %> résultat(s)</td>
        <td><%= will_paginate @tools, :next_label => ">", :previous_label => "<" %></td>
      </tr>
    </table>
  </div>
<% end %>
<div id="search_results">
  <div id="equipments_list">
    <% if @tools.size>0 %>
      <table width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Laboratoire</th>
            <th>Nom</th>
            <th>Sous-type</th>
            <th>Marque/Constructeur</th>
            <th class="last">Modèle/Version</th>
          </tr>
        </thead>
        <% @tools.each do |tool| %>
          <tr>
             <td><%= tool.laboratory  || "&nbsp;" %></td>
            <td>
              <%= link_to tool.name, tool %>
            </td>
            <td><%= tool.tool_subtype  || "&nbsp;" %></td>
            <td><%= tool.brand.blank? ? "&nbsp;" : tool.brand %></td>
            <td class="last"><%=truncate(tool.version, :length => 30)  || "&nbsp;" %></td>
          </tr>
        <% end %>
      </table>
  <% else %>
      Aucun résultat ne répond à votre recherche
    <% end %>

  </div>

</div>
Pour visionner la fiche complète d'un équipement, cliquez sur le nom de celui-ci.
<div class="tools_pagination">
  <%= will_paginate @tools, :next_label => ">", :previous_label => "<" %>
</div>

<%= javascript_tag("
     $(document).ready(function () {

        $('.select_refine_search').selectbox();
        $('.select_refine_search').change(function() {
          $('#search_form').trigger('submit');
        });
      });



  ") %>

<% if current_user && (current_user.r2gc_manager? || current_user.r2gc_correspondent?) %>
  <script type="text/javascript">
    $(document).ready(function () {
      admin_link = "<a href='/admin' target='_blank' class='admin_link'>Accéder à l'administration</a>";
      database_link = jQuery(".link_to_database");
      database_link.append(admin_link);

    });
  </script>
<% end %>
