<h1 class="tools_title">Bienvenue sur la base de données équipements des laboratoires de génie civil de la région</h1>

<p class="blue_title">Fiche équipement</p>
<%= tools_navigation_table(@measuring_engine.id) %>
<div class="tool_show">
  <div class="tool_top_show"></div>
  <div class="tool_middle_show">
    <table width="100%">
      <tr>
    <% if @measuring_engine.tool_public_photos.size>0 %>
        <td style="max-width:300px;vertical-align:top">
          <div class="tool_image">
                <div class="ppy" id="images_scroll">
                  <ul class="ppy-imglist">
                    <% @measuring_engine.tool_public_photos.each do |asset| %>
                      <li>
                        <%= link_to image_tag(asset.asset.url(:profile)), asset.asset.url(:profile)  %>
                      </li>
                    <% end %>
                  </ul>
                  <div class="ppy-outer">
                      <div class="ppy-stage">
                          <div class="ppy-counter">

                          </div>
                      </div>
                      <div class="ppy-nav">
                        <a class="ppy-prev" title="Previous image"><</a>
                          <a class="ppy-next" title="Next image">></a>

                      </div>
                  </div>
              </div>


          <%#= image_tag(@measuring_engine.tool_public_photos.first.asset.url(:profile)) if @measuring_engine.tool_public_photos.size>0 %>
        </div>
        </td>
    <% end %>
        <td style="vertical-align:top">
          <div class="tool_infos">
            <% if @measuring_engine.laboratory && @measuring_engine.laboratory.logo_file_name %>
                <div style="float:right;margin:10px;"><%= image_tag(@measuring_engine.laboratory.logo.url(:thumb)) %></div>
              <% end %>
          <label>Nom :</label> <%= @measuring_engine.name %><br/>
          <label>Type : </label>Moyen de mesure et d'analyse<br/>
          <label>Sous-type :</label> <%= @measuring_engine.tool_subtype %><br/>
          <label>Marque :</label> <%= @measuring_engine.brand %><br/>
          <label>Modèle :</label> <%= @measuring_engine.version %><br/>
          <label>Quantité :</label> <%= @measuring_engine.quantity %><br/>
          <label>Laboratoire :</label> <%= @measuring_engine.laboratory %><br/>
          <% if current_user %>
            <label>Entité(s) de recherche :</label> <%= @measuring_engine.search_entities %><br/>
            <label>Sous-entité(s) :</label> <%= @measuring_engine.search_subentities %><br/>
            <br/><br/>
            <%#= link_to "Télécharger la fiche au format PDF", to_pdf_measuring_engine_path(@measuring_engine, :format => "pdf") %>
          <% end %>
          </div>

          <div style="clear:both"></div>
        </td>
      </tr>
    </table>

    <div id="accordion">
      <% if current_user %>
          <h3><a href="#">Principes de fonctionnement</a></h3>
          <div><%= simple_format @measuring_engine.operating_principles %></div>
          <h3><a href="#">Caractéristiques techniques</a></h3>
          <div><%= simple_format @measuring_engine.specifications %></div>
        
          <h3><a href="#">Autres précisions</a></h3>
          <div>
            <label>Document explicatif :</label> <%= @measuring_engine.explanatory_document %><br/>
            <label>Etalonnage/calibration/vérification :</label> <%= @measuring_engine.calibration %><br/>
            <label>Remarque(s) Etalonnage/calibration/vérification :</label> <%= @measuring_engine.calibration_comment %><br/>
            <label>Date d'achat :</label> <%= @measuring_engine.purchase_date %><br/>
            <label>Commentaires :</label> <%= simple_format @measuring_engine.comment %>
          </div>
          <h3><a href="#">Echange de l’équipement</a></h3>
          <div>
            <label>Prêt possible uniquement sur le site de l’organisme propriétaire :</label> <%= @measuring_engine.use_on_site ? "Oui" : "Non" %><br/>
            <label>Emprunt possible en dehors du site de l’organisme propriétaire :</label> <%= @measuring_engine.borrowing ? "Oui" : "Non" %><br/>
            <label>Conditions de prêt et d’emprunt ME et MMA:</label> <%= @measuring_engine.use_conditions.collect(&:conditions).join(", ") if  @measuring_engine.use_conditions%> <br/>
            <label>Localisation sur le site :</label> <%= @measuring_engine.mi_localization_on_site %><br/>
            <label>Précisions:</label> <%=  @measuring_engine.localization_on_site_precision %><br/>
            <label>N° d’enregistrement interne:</label> <%= @measuring_engine.internal_number %><br/>
          </div>
        <% end %>
        <h3><a href="#">Liens</a></h3>
        <div>
      


          <label>Equipement(s) lié(s) : </label>
          <%= render :partial => "tool_relations/index", :locals => {:tool => @measuring_engine} %><br/>
          <label>Lien web : </label>
          <%= link_to @measuring_engine.website, @measuring_engine.website unless !@measuring_engine.website%><br/>
        
        </div>
         <h3><a href="#">Demande d'informations</a></h3>
        <div>
         <%= render :partial => "tools/get_information", :locals => {:tool => @measuring_engine} %>
        </div>
        <% if current_user %>
          <h3>Correspondant(s)</h3>
          <div>
            <%= render :partial => "correspondents/index", :locals => {:correspondents => @measuring_engine.correspondents} %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="tool_bottom_show"></div>
</div>



<p class="link_to_back">
  <%= link_to " << Retour", :back %>
</p>
<% if current_user %>
<%= javascript_tag("$(function() {
    $('#accordion').accordion({active:1} );
})") %>
<% else %>
<%= javascript_tag("$(function() {
    $('#accordion').accordion();

})") %>
<% end %>

<%= javascript_tag("$(function() {
    $('#images_scroll').popeye();
});") %>
