<h1>Bienvenue sur la base de données équipements des laboratoires de génie civil de la région
<% if current_user %>
  <em>(Connecté en tant que <%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_account_database_path(current_user) %>)</em>
<% end %></h1>

<%= tools_navigation_table(@measuring_engine.id,"MeasuringEngine") %>
<div class="tool_show">
  <div class="tool_top_show"></div>
  <div class="tool_middle_show">
    <table width="100%">
      <tr>
        <% photos = current_user ? (@measuring_engine.tool_public_photos+@measuring_engine.tool_private_photos) : @measuring_engine.tool_public_photos%>
    <% if photos.size>0 %>
        <td style="max-width:300px;vertical-align:top">
          <div class="tool_image">
                <div class="ppy" id="images_scroll">
                  <ul class="ppy-imglist">                   
                    
                    <% photos.each do |asset| %>
                      <li>
                        <%= link_to image_tag(asset.asset.url(:profile)), asset.asset.url(:profile)  %>
                      </li>
                    <% end %>
                  </ul>
                  <div class="ppy-outer">
                      <div class="ppy-stage">
                          <div class="ppy-counter">

                          </div>
                      </div>
                      <div class="ppy-nav">
                        <a class="ppy-prev" title="Previous image"><</a>
                          <a class="ppy-next" title="Next image">></a>

                      </div>
                  </div>
              </div>


          <%#= image_tag(@measuring_engine.tool_public_photos.first.asset.url(:profile)) if @measuring_engine.tool_public_photos.size>0 %>
        </div>
        </td>
    <% end %>
        <td style="vertical-align:top">
          <div class="tool_infos">
            <% if @measuring_engine.laboratory && @measuring_engine.laboratory.logo_file_name %>
                <div style="float:right;margin:10px;"><%= image_tag(@measuring_engine.laboratory.logo.url(:thumb)) %></div>
              <% end %>
          <label>Nom :</label> <b><%= @measuring_engine.name %></b><br/>
          <label>Type : </label>Moyen de mesure et d'analyse<br/>
          <% unless @measuring_engine.tool_subtype.blank? %><label>Sous-type :</label> <%= @measuring_engine.tool_subtype %><br/><% end %>
          <% unless @measuring_engine.brand.blank?  %><label>Marque/Constructeur :</label> <%= @measuring_engine.brand %><br/><% end %>
          <% if !@measuring_engine.version.blank? %><label>Modèle :</label> <%= @measuring_engine.version %><br/><% end %>
          <% if !@measuring_engine.quantity.blank? %><label>Quantité :</label> <%= @measuring_engine.quantity %><br/><% end %>
          <% if !@measuring_engine.laboratory.blank? %><label>Laboratoire :</label> <%= @measuring_engine.laboratory %><br/><% end %>
          <% if current_user %>
            <% if @measuring_engine.search_entities.size>0 %><label>Entité(s) de recherche :</label> <%= @measuring_engine.search_entities %><br/><% end %>
            <% if @measuring_engine.search_subentities.size>0 %><label>Sous-entité(s) :</label> <%= @measuring_engine.search_subentities %><br/><% end %>
            <br/> <em>Dernière mise à jour le <%= l(@measuring_engine.updated_at, :format => :maj_database) %></em>
            <br/><br/>
            <%= link_to "Télécharger la fiche au format PDF", to_pdf_measuring_engine_path(@measuring_engine, :format => "pdf"), :class => "download_pdf" %>
          <% end %>
          </div>

          <div style="clear:both"></div>
        </td>
      </tr>
    </table>

    <div id="accordion">
      
          <% if @measuring_engine.operating_principles %>
            <h3><a href="#">Principes de fonctionnement</a></h3>
            <div><%= simple_format @measuring_engine.operating_principles %></div>
          <% end %>
            <% if current_user %>
          <% if @measuring_engine.specifications %>
            <h3><a href="#">Caractéristiques techniques</a></h3>
            <div><%= simple_format @measuring_engine.specifications %></div>
          <% end %>
        
          <h3><a href="#">Autres précisions</a></h3>
          <div>
            <% if !@measuring_engine.explanatory_document.blank? %><label>Document(s) explicatif(s) :</label> <%= @measuring_engine.explanatory_document %><br/><% end %>
            <% if !@measuring_engine.calibration.blank? %><label>Etalonnage/calibration/vérification :</label> <%= @measuring_engine.calibration %><br/><% end %>
            <% if !@measuring_engine.calibration_comment.blank? %><label>Remarque(s) Etalonnage/calibration/vérification :</label> <%= @measuring_engine.calibration_comment %><br/><% end %>
            <% if !@measuring_engine.purchase_date.blank? %><label>Date d'achat de l'équipement :</label> <%= @measuring_engine.purchase_date %><br/><% end %>
            <% if !@measuring_engine.comment.blank? %><label>Autre(s) commentaire(s) :</label> <%= simple_format(@measuring_engine.comment).gsub("<p>","") %><% end %>
          </div>
          <h3><a href="#">Echange de l’équipement</a></h3>
          <div>
            <% if !@measuring_engine.use_on_site.blank?  %><label>Prêt possible uniquement sur le site de l’organisme propriétaire :</label> <%= @measuring_engine.use_on_site ? "Oui" : "Non" %><br/><% end %>
            <% if !@measuring_engine.borrowing.blank? %><label>Emprunt possible en dehors du site de l’organisme propriétaire :</label> <%= @measuring_engine.borrowing ? "Oui" : "Non" %><br/><% end %>
            <% if @measuring_engine.use_conditions.size>0 %><label>Condition de prêt et d’emprunt de l’équipement :</label> <%= @measuring_engine.use_conditions.collect(&:conditions).join(", ")%> <br/><% end %>
            <% if !@measuring_engine.mi_localization_on_site.blank? %><label>Localisation sur le site :</label> <%= @measuring_engine.mi_localization_on_site %><br/><% end %>
            <% if !@measuring_engine.localization_on_site_precision.blank? %><label>Précisions:</label> <%=  @measuring_engine.localization_on_site_precision %><br/><% end %>
            <% if !@measuring_engine.internal_number.blank? %><label>N° d’enregistrement interne:</label> <%= @measuring_engine.internal_number %><br/><% end %>
          </div>
        <% end %>
        <h3><a href="#">Liens</a></h3>
        <div>
          <% if (@measuring_engine.tool_public_photos.size>0 || @measuring_engine.tool_brochures.size>0 || (current_user && (@measuring_engine.tool_private_photos.size>0 || @measuring_engine.tool_brochures.size>0))) %>
            <label>Documents annexes : </label><br /><br />
            <%  if @measuring_engine.tool_public_photos.size>0 || (current_user && @measuring_engine.tool_private_photos.size>0)%>
              Photo(s) :<br />
            <% end %>
            <%= render :partial => "tool_public_photos/index", :locals => { :photos => @measuring_engine.tool_public_photos} %>
            <%= render :partial => "tool_private_photos/index", :locals => { :photos => @measuring_engine.tool_private_photos} %>
            <%= render :partial => "tool_brochures/index", :locals => { :brochures => @measuring_engine.tool_brochures} %>
            <%= render :partial => "tool_schemas/index", :locals => { :schemas => @measuring_engine.tool_schemas} %>
            <br />
        <% end %>
         <% if @measuring_engine.relations_from.size>0 || @measuring_engine.relations_to.size>0 %>
          <label>Equipement(s) lié(s) : </label>
          <%= render :partial => "tool_relations/index", :locals => {:tool => @measuring_engine} %><br/>
         <% end %>
         <% if !@measuring_engine.website.blank? %>
            <label>Lien(s) web : </label><br />
            <div style="margin-left:10px;">
              <% @measuring_engine.website.split(",").each do |link| %>
                - <%= link_to link, link, :target => "_blank" unless !link%><br/>
             <% end %>
            </div>
            <br />
         <%  end %>
          
        </div>
         <h3><a href="#">Demande d'informations</a></h3>
        <div style="max-height:380px;overflow:hidden">
         <%= render :partial => "tools/get_information", :locals => {:tool => @measuring_engine} %>
        </div>
        <% if current_user %>
          <h3><a href="#">Correspondant(s)</a></h3>
          <div>
            <%= render :partial => "correspondents/index", :locals => {:correspondents =>  @measuring_engine.secondary_correspondents, :main_correspondent =>  @measuring_engine.main_correspondent} %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="tool_bottom_show"></div>
</div>




<% if current_user %>
<%= javascript_tag("$(function() {
    $('#accordion').accordion({active:1} );
})") %>
<% else %>
<%= javascript_tag("$(function() {
    $('#accordion').accordion();

})") %>
<% end %>

<%= javascript_tag("$(function() {
    $('#images_scroll').popeye({opacity:0.8});
$('a.correspondent_tooltip').tooltip({showURL:false,fade: 250});
});") %>

<% if current_user && (current_user.r2gc_manager? || current_user.r2gc_correspondent?) %>
  <script type="text/javascript">
    $(document).ready(function () {
      admin_link = "<a href='/admin' target='_blank' class='admin_link'>Accéder à l'administration</a>";
      database_link = jQuery(".link_to_database");
      database_link.append(admin_link);

    });
  </script>
<% end %>

