<h1>Bienvenue sur la base de données équipements des laboratoires de génie civil de la région
<% if current_user %>
  <em>(Connecté en tant que <%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_account_database_path(current_user) %>)</em>
<% end %></h1>


<%= tools_navigation_table(@tool_engine.id,"ToolEngine") %>
<div class="tool_show">
  <div class="tool_top_show"></div>
  <div class="tool_middle_show">
    <table width="100%">
      <tr>
        <% photos = current_user ? (@tool_engine.tool_public_photos+@tool_engine.tool_private_photos) : @tool_engine.tool_public_photos%>
     <% if photos.size>0 %>
        <td style="max-width:300px;vertical-align:top">
        <div class="tool_image">

                <div class="ppy" id="images_scroll">
                  <ul class="ppy-imglist">
                    
                    <% photos.each do |asset| %>
                      <li>
                        <%= link_to image_tag(asset.asset.url(:profile)), asset.asset.url(:profile)  %>
                      </li>
                    <% end %>
                  </ul>
                  <div class="ppy-outer">
                      <div class="ppy-stage">
                          <div class="ppy-counter">

                          </div>
                      </div>
                      <div class="ppy-nav">
                        <a class="ppy-prev" title="Previous image"><</a>
                          <a class="ppy-next" title="Next image">></a>

                      </div>
                  </div>
              </div>

          <%#= image_tag(@tool_engine.tool_public_photos.first.asset.url(:profile)) if @tool_engine.tool_public_photos.size>0 %>
        </div>
        </td>
    <% end %>
        <td style="vertical-align:top">
    <div class="tool_infos">
             <% if @tool_engine.laboratory && @tool_engine.laboratory.logo_file_name %>
                  <div style="float:right;margin:10px;"><%= image_tag(@tool_engine.laboratory.logo.url(:thumb)) %></div>
                <% end %>
            <label>Nom :</label> <b><%= @tool_engine.name %></b><br/>
            <label>Type : </label>Machine-outil<br/>            
            <% if !@tool_engine.brand.blank? %><label>Marque/Constructeur :</label> <%= @tool_engine.brand %><br/><% end %>
            <% if !@tool_engine.version.blank? %><label>Modèle :</label> <%= @tool_engine.version %><br/><% end %>
            <% if !@tool_engine.quantity.blank? %><label>Quantité :</label> <%= @tool_engine.quantity %><br/><% end %>
            <% if !@tool_engine.laboratory.blank? %><label>Laboratoire :</label> <%= @tool_engine.laboratory %><br/><% end %>
            <% if current_user %>
              <% if @tool_engine.search_entities.size>0 %><label>Entité(s) de recherche :</label> <%= @tool_engine.search_entities %><br/><% end %>
              <% if @tool_engine.search_subentities.size>0 %><label>Sous-entité(s) :</label> <%= @tool_engine.search_subentities %><br/><% end %>
              <br/> <em>Dernière mise à jour le <%= l(@tool_engine.updated_at, :format => :maj_database) %></em>
              <br/><br/>
              <%= link_to "Télécharger la fiche au format PDF", to_pdf_tool_engine_path(@tool_engine, :format => "pdf"), :class => "download_pdf" %>
              <% end %>
          </div>
          <div style="clear:both"></div>
        </td>
      </tr>
    </table>

    <div id="accordion">
      
      <% if !@tool_engine.operating_principles.blank? %>
        <h3><a href="#">Principes de fonctionnement</a></h3>
        <div><%= simple_format @tool_engine.operating_principles %></div>
      <% end %>
        <% if current_user %>
      <% if !@tool_engine.specifications.blank? %>
        <h3><a href="#">Caractéristiques techniques</a></h3>
        <div><%= simple_format @tool_engine.specifications %></div>
      <% end %>
        <h3><a href="#">Autres précisions</a></h3>
        <div>
          <% if !@tool_engine.explanatory_document.blank? %><label>Document(s) explicatif(s) :</label> <%= @tool_engine.explanatory_document %><br/><% end %>
          <% if !@tool_engine.purchase_date.blank? %><label>Date d'achat de l'équipement :</label> <%= @tool_engine.purchase_date %><br/><% end %>
          <% if !@tool_engine.comment.blank? %><label>Autre(s) commentaire(s) : </label><%= simple_format(@tool_engine.comment).gsub("<p>","") %><% end %>
        </div>
        <h3><a href="#">Echange de l’équipement</a></h3>
        <div>      
          <% if !@tool_engine.use_on_site.blank? %><label>Prêt possible uniquement sur le site de l’organisme propriétaire :</label> <%= @tool_engine.use_on_site ? "Oui" : "Non" %><br/><% end %>
          
          <% if !@tool_engine.mi_localization_on_site.blank? %><label>Localisation sur le site :</label> <%=  @tool_engine.mi_localization_on_site %><br/><% end %>
          <% if !@tool_engine.internal_number.blank? %><label>N° d’enregistrement interne:</label> <%= @tool_engine.internal_number %><br/><% end %>
          <% if !@tool_engine.use_conditions.blank? %><label>Conditions d'utilisation Machine-outils: </label><%= @tool_engine.use_conditions.join(", ") unless !@tool_engine.use_conditions %><% end %>
        </div>
      <% end %>
        <h3><a href="#">Liens</a></h3>
        <div>
           <% if (@tool_engine.tool_public_photos.size>0 || @tool_engine.tool_brochures.size>0 || (current_user && (@tool_engine.tool_private_photos.size>0 || @tool_engine.tool_brochures.size>0))) %>
          <label>Documents annexes : </label><br /><br />
          <%  if @tool_engine.tool_public_photos.size>0 || (current_user && @tool_engine.tool_private_photos.size>0)%>
              Photo(s) :<br />
            <% end %>
          <%= render :partial => "tool_public_photos/index", :locals => { :photos => @tool_engine.tool_public_photos} %>
          <%= render :partial => "tool_private_photos/index", :locals => { :photos => @tool_engine.tool_private_photos} %>
          <%= render :partial => "tool_brochures/index", :locals => { :brochures => @tool_engine.tool_brochures} %>
          <%= render :partial => "tool_schemas/index", :locals => { :schemas => @tool_engine.tool_schemas} %>
        <% end %>
          <% if @tool_engine.relations_from.size>0 || @tool_engine.relations_to.size>0 %>
            <label>Equipement(s) lié(s) : </label>
            <%= render :partial => "tool_relations/index", :locals => {:tool => @tool_engine} %><br/>
            <br />
          <% end %>
          <% if !@tool_engine.website.blank? %>
            <label>Lien(s) web : </label><br />
            <div style="margin-left:10px;">
              <% @tool_engine.website.split(",").each do |link| %>
                - <%= link_to link, link, :target => "_blank" unless !link %><br/>
              <% end %>
            </div>
            <br />
          <% end %>
       
        </div>
        <h3><a href="#">Demande d'informations</a></h3>
        <div style="max-height:380px;overflow:hidden">
         <%= render :partial => "tools/get_information", :locals => {:tool => @tool_engine} %>
        </div>
        <% if current_user %>
          <h3><a href="#">Correspondant(s)</a></h3>
          <div>
            <%= render :partial => "correspondents/index", :locals => {:correspondents => @tool_engine.secondary_correspondents, :main_correspondent =>  @tool_engine.main_correspondent} %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="tool_bottom_show"></div>
</div>


<% if current_user %>
<%= javascript_tag("$(function() {
    $('#accordion').accordion({active:1} );
})") %>
<% else %>
<%= javascript_tag("$(function() {
    $('#accordion').accordion();

})") %>
<% end %>

<%= javascript_tag("$(function() {
    $('#images_scroll').popeye();
$('a.correspondent_tooltip').tooltip({showURL:false,fade: 250});
});") %>

<% if current_user && (current_user.r2gc_manager? || current_user.r2gc_correspondent?) %>
  <script type="text/javascript">
    $(document).ready(function () {
      admin_link = "<a href='/admin' target='_blank' class='admin_link'>Accéder à l'administration</a>";
      database_link = jQuery(".link_to_database");
      database_link.append(admin_link);

    });
  </script>
<% end %>




