<h1 class="tools_title">Bienvenue sur la base de données équipements des laboratoires de génie civil de la région</h1>

<div class="breadcrumbs">
  <span class="old">
    <%=  link_to "Accueil", databases_path %> >
    <%=  link_to("Interrogation de la base de données", session[:search_params] ? tool_engines_path(:search => session[:search_params]) : tool_engines_path)  %> >
  </span>
  <span class="current">
    <%=  link_to "Fiche équipement", @tool_engine %>
  </span>
</div>

<%= tools_navigation_table(@tool_engine.id,"ToolEngine") %>
<div class="tool_show">
  <div class="tool_top_show"></div>
  <div class="tool_middle_show">
    <table width="100%">
      <tr>
        <% photos = current_user ? (@tool_engine.tool_public_photos+@tool_engine.tool_private_photos) : @tool_engine.tool_public_photos%>
     <% if photos.size>0 %>
        <td style="max-width:300px;vertical-align:top">
        <div class="tool_image">

                <div class="ppy" id="images_scroll">
                  <ul class="ppy-imglist">
                    
                    <% photos.each do |asset| %>
                      <li>
                        <%= link_to image_tag(asset.asset.url(:profile)), asset.asset.url(:profile)  %>
                      </li>
                    <% end %>
                  </ul>
                  <div class="ppy-outer">
                      <div class="ppy-stage">
                          <div class="ppy-counter">

                          </div>
                      </div>
                      <div class="ppy-nav">
                        <a class="ppy-prev" title="Previous image"><</a>
                          <a class="ppy-next" title="Next image">></a>

                      </div>
                  </div>
              </div>

          <%#= image_tag(@tool_engine.tool_public_photos.first.asset.url(:profile)) if @tool_engine.tool_public_photos.size>0 %>
        </div>
        </td>
    <% end %>
        <td style="vertical-align:top">
    <div class="tool_infos">
             <% if @tool_engine.laboratory && @tool_engine.laboratory.logo_file_name %>
                  <div style="float:right;margin:10px;"><%= image_tag(@tool_engine.laboratory.logo.url(:thumb)) %></div>
                <% end %>
            <label>Nom :</label> <%= @tool_engine.name %><br/>
            <label>Type : </label>Machine-outil<br/>            
            <label>Marque :</label> <%= @tool_engine.brand %><br/>
            <label>Modèle :</label> <%= @tool_engine.version %><br/>
            <label>Quantité :</label> <%= @tool_engine.quantity %><br/>
            <label>Laboratoire :</label> <%= @tool_engine.laboratory %><br/>
            <% if current_user %>
              <label>Entité(s) de recherche :</label> <%= @tool_engine.search_entities %><br/>
              <label>Sous-entité(s) :</label> <%= @tool_engine.search_subentities %><br/>
              <br/><br/>
              <%#= link_to "Télécharger la fiche au format PDF", to_pdf_tool_engine_path(@tool_engine, :format => "pdf") %>
              <% end %>
          </div>
          <div style="clear:both"></div>
        </td>
      </tr>
    </table>

    <div id="accordion">
      <% if current_user %>
        <h3><a href="#">Principes de fonctionnement</a></h3>
        <div><%= simple_format @tool_engine.operating_principles %></div>
        <h3><a href="#">Caractéristiques techniques</a></h3>
        <div><%= simple_format @tool_engine.specifications %></div>
        <h3><a href="#">Autres précisions</a></h3>
        <div>
          <label>Document(s) explicatif(s) :</label> <%= @tool_engine.explanatory_document %><br/>
          <label>Date d'achat :</label> <%= @tool_engine.purchase_date %><br/>
          <label>Commentaires : </label><%= @tool_engine.comment %>
        </div>
        <h3><a href="#">Echange de l’équipement</a></h3>
        <div>      
          <label>Prêt possible uniquement sur le site de l’organisme propriétaire :</label> <%= @tool_engine.use_on_site ? "Oui" : "Non" %><br/>
          
          <label>Localisation sur le site :</label> <%=  @tool_engine.mi_localization_on_site %><br/>
          <label>N° d’enregistrement interne:</label> <%= @tool_engine.internal_number %><br/>
          <label>Conditions d'utilisation Machine-outils: </label><%= @tool_engine.use_conditions.join(", ") unless !@tool_engine.use_conditions %>
        </div>
      <% end %>
        <h3><a href="#">Liens</a></h3>
        <div>
          <label>Equipement(s) lié(s) : </label>
          <%= render :partial => "tool_relations/index", :locals => {:tool => @tool_engine} %><br/>
          <label>Lien web : </label>
          <%= link_to @tool_engine.website, @tool_engine.website unless !@tool_engine.website %><br/>
         
        </div>
        <h3><a href="#">Demande d'informations</a></h3>
        <div>
         <%= render :partial => "tools/get_information", :locals => {:tool => @tool_engine} %>
        </div>
        <% if current_user %>
          <h3><a href="#">Correspondant(s)</a></h3>
          <div>
            <%= render :partial => "correspondents/index", :locals => {:correspondents => @tool_engine.correspondents} %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="tool_bottom_show"></div>
</div>

<p class="link_to_back">
  <%= link_to " << Retour", :back %>
</p>
<% if current_user %>
<%= javascript_tag("$(function() {
    $('#accordion').accordion({active:1} );
})") %>
<% else %>
<%= javascript_tag("$(function() {
    $('#accordion').accordion();

})") %>
<% end %>

<%= javascript_tag("$(function() {
    $('#images_scroll').popeye();
$('a.correspondent_tooltip').tooltip({showURL:false,fade: 250});
});") %>



