<p class="blue_title">Fiche équipement : </p>

<div class="tool_show">
  <div class="tool_top_show"></div>
  <div class="tool_middle_show">
    <div class="tool_image">
      <%= image_tag(@tool_engine.tool_public_photos.first.asset.url(:profile)) if @tool_engine.tool_public_photos.size>0 %>
    </div>
    <div class="tool_infos">
      <label>Nom :</label> <%= @tool_engine.name %><br/>
      <label>Type :</label>Machine-outil<br/>
      <label>Sous-type :</label> <%= @tool_engine.tool_subtype %><br/>
      <label>Marque :</label> <%= @tool_engine.brand %><br/>
      <label>Modèle :</label> <%= @tool_engine.version %><br/>
      <label>Quantité :</label> <%= @tool_engine.quantity %><br/>
      <label>Laboratoire :</label> <%= @tool_engine.laboratory %><br/>
      <% if current_user %>
        <label>Entités de recherche :</label> <%= @tool_engine.search_entities %><br/>
        <label>Sous entités :</label> <%= @tool_engine.search_subentities %><br/>
      <% end %>
    </div>
    <div style="clear:both"></div>

    <div id="accordion">
      <% if current_user %>
        <h3><a href="#">Principes de fonctionnement</a></h3>
        <div><%= simple_format @tool_engine.operating_principles %></div>
        <h3><a href="#">Caractéristiques techniques</a></h3>
        <div><%= simple_format @tool_engine.specifications %></div>
        <h3><a href="#">Autres précisions</a></h3>
        <div>
          Document explicatif : <%= @tool_engine.explanatory_document %><br/>
          Date d'achat : <%= @tool_engine.purchase_date %><br/>
          Commentaires : <%= simple_format @tool_engine.comment %>
        </div>
        <h3><a href="#">Echange de l’équipement</a></h3>
        <div>      
          Prêt possible uniquement sur le site de l’organisme propriétaire : <%= @tool_engine.use_on_site %><br/>
          
          Localisation sur le site : <%= simple_format @tool_engine.mi_localization_on_site %><br/>
          N° d’enregistrement interne:
        </div>
      <% end %>
        <h3><a href="#">Liens</a></h3>
        <div>
          <label>Equipement(s) lié(s) : </label>
          <%= render :partial => "tool_relations/index", :locals => {:tool => @tool_engine} %><br/>
          <label>Lien web : </label>
          <%= link_to @tool_engine.website, @tool_engine.website unless !@tool_engine.website %><br/>
          <%= link_to "Demande d'information", get_information_tools_path(:tool_id => @tool_engine.id) %>
        </div>
        <% if current_user %>
          <h3>Correspondant(s) : </h3>
          <div>
            <%= render :partial => "correspondents/index", :locals => {:correspondents => @tool_engine.correspondents} %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="tool_bottom_show"></div>
</div>

<p class="link_to_back">
  <%= link_to " << Retour", :back %>
</p>

<%= javascript_tag("$(function() {$('#accordion').accordion();});") %>

