<% case tool
  when Software %>
    <% new_public_photo_link = new_admin_software_tool_public_photo_path(tool) %>
    <% new_private_photo_link = new_admin_software_tool_private_photo_path(tool) %>
    <% new_brochure_link = new_admin_software_tool_brochure_path(tool) %>
    <% new_schema_link = new_admin_software_tool_schema_path(tool) %>
 <% when  ToolEngine %>
    <% new_public_photo_link = new_admin_tool_engine_tool_public_photo_path(tool) %>
    <% new_private_photo_link = new_admin_tool_engine_tool_private_photo_path(tool) %>
    <% new_brochure_link = new_admin_tool_engine_tool_brochure_path(tool) %>
    <% new_schema_link = new_admin_tool_engine_tool_schema_path(tool) %>
 <% when TestEngine %>
    <% new_public_photo_link = new_admin_test_engine_tool_public_photo_path(tool) %>
    <% new_private_photo_link = new_admin_test_engine_tool_private_photo_path(tool) %>
    <% new_brochure_link = new_admin_test_engine_tool_brochure_path(software) %>
    <% new_schema_link = new_admin_test_engine_tool_schema_path(tool) %>
  <% when MeasuringEngine %>
    <% new_public_photo_link = new_admin_measuring_engine_tool_public_photo_path(tool) %>
    <% new_private_photo_link = new_admin_measuring_engine_tool_private_photo_path(tool) %>
    <% new_brochure_link = new_admin_measuring_engine_tool_brochure_path(tool) %>
    <% new_schema_link = new_admin_measuring_engine_tool_schema_path(tool) %>
<% end %>


<div style="width:45%;float:right">
  <h1>Documents</h1>
  <% if tool.tool_public_photos %>
    <div style="margin-top:10px;">
      <span class="asset_type">Photos diffusables (<%= link_to "Nouvelle photo diffusable", new_public_photo_link  %> )</span><hr/>
      <%  tool.tool_public_photos.each do |asset| %>
        <%= image_tag(asset.asset.url(:thumb)) %>
      <% end %>
    </div>
  <% end %>

  <% if tool.tool_private_photos %>
    <div style="margin-top:10px;">
     <span class="asset_type"> Photos non diffusables (<%= link_to "Nouvelle photo non diffusable", new_private_photo_link  %> )</span><hr/>
      <% tool.tool_private_photos.each do |asset| %>
        <%= image_tag(asset.asset.url(:thumb)) %>
      <% end %>
    </div>
  <% end %>

  <% if tool.tool_brochures %>
    <div style="margin-top:10px;">
      <span class="asset_type">Plaquettes (<%= link_to "Nouvelle plaquette", new_brochure_link  %> )</span><hr/>
      <% tool.tool_brochures.each do |asset| %>
        <%= asset.asset_file_name %><br/>
      <% end %>
    </div>
  <% end %>

  <% if tool.tool_schemas %>
    <div style="margin-top:10px;">
      <span class="asset_type">Schémas (<%= link_to "Nouveau schéma", new_schema_link  %> )</span><hr/>
      <% tool.tool_schemas.each do |asset| %>
        <%= asset.asset_file_name %><br/>
      <% end %>
    </div>
  <% end %>
</div>