<table id="table_form">
  <tr>
    <td><label>Nom</label></td>
    <td><label><%= f.text_field :name%></label></td>
  </tr>
  <tr>
    <td style="vertical-align:top"><label>Logo</label></td>
    <td><label><%= f.file_field :logo%></label><%= image_tag(@laboratory.logo.url(:thumb)) unless !@laboratory.logo%> </td>
  </tr>
  <tr>
    <td><label>Statut</label></td>
    <td><label><%= f.text_field :legal_status%></label></td>
  </tr>
  <tr>
    <td><label>Secteur d'activité</label></td>
    <td><label><%= f.text_field :activity_sector%></label></td>
  </tr>
  <tr>
    <td><label>Activité</label></td>
    <td><label><%= f.text_area :activity%></label></td>
  </tr>
  <tr>
    <td><label>Partenaires</label></td>
    <td><label><%= f.text_area :partners%></label></td>
  </tr>
  <tr>
    <td><label>Appartenance pôles, clusters</label></td>
    <td><label><%= f.text_field :memberships%></label></td>
  </tr>
  <tr>
    <td><label>Site web</label></td>
    <td><label><%= f.text_field :website%></label></td>
  </tr>
  <tr>
    <td><label>Adresse appellation</label></td>
    <td><label><%= f.text_field :appellation%></label></td>
  </tr>
   <tr>
    <td><label>Adresse rue</label></td>
    <td><label><%= f.text_field :street%></label></td>
  </tr>
   <tr>
    <td><label>Adresse code postal</label></td>
    <td><label><%= f.text_field :zipcode%></label></td>
  </tr>
   <tr>
    <td><label>Adresse ville</label></td>
    <td><label><%= f.text_field :city%></label></td>
  </tr>
   <tr>
    <td><label>Adresse BP</label></td>
    <td><label><%= f.text_field :PO_box%></label></td>
  </tr>
   <tr>
    <td><label>Adresse cedex</label></td>
    <td><label><%= f.text_field :cedex%></label></td>
  </tr>
   <tr>
    <td><label>Adresse pays</label></td>
    <td><label><%= f.text_field :country%></label></td>
  </tr>
   <tr>
    <td><label>Téléphone</label></td>
    <td><label><%= f.text_field :phone%></label></td>
  </tr>
  <tr>
    <td><label>Siège social</label></td>
    <td><label><%= f.text_field :headquarters%></label></td>
  </tr>
   <tr>
    <td><label>Maison mère, tutelle</label></td>
    <td><label><%= f.text_field :parent%></label></td>
  </tr>
</table>

