<div style="width:50%;float:left">
  <h1>Edition du laboratoire <%= @laboratory.name %></h1>
  <% form_for([:admin, @laboratory], :html => {:multipart => true}) do |f| %>
    <%= render :partial => "form", :locals => {:f => f} %>
    <p class="buttons">
      <%= submit_tag "Enregistrer", :class => "button" %>
       ou <%= link_to "Annuler", :back %>
    </p>
  <% end %>
</div>

<div style="width:45%;float:right">
  <h1>Entités de recherche</h1>
  <% @laboratory.search_entities.each do |entity| %>
    <b><%=  entity.name %></b><br/>
    <% entity.search_subentities.each do |subentity| %>
      <span style="padding-left:20px;"><%= subentity.name %></span><br/>
    <% end %>
  <% end %>
</div>