


<div style="width:45%;float:right">
  <h1>Documents</h1>  
    <div style="margin-top:10px;">
      <span class="asset_type">Photos diffusables (<%= link_to "Nouvelle photo diffusable", new_public_photo_link(tool)  %> )</span><hr/>
      <ul class="documents_list">
        <%  tool.tool_public_photos.each do |asset| %>
        <li class="actions_box">
          <div class="actions">           
            <%= link_to image_tag("admin/edit_icon.png"), edit_public_photo_link(tool, asset) %>
            <%= link_to image_tag("admin/delete_icon.png"), destroy_public_photo_link(tool, asset), :method => :delete, :confirm => "Etes-vous certain de vouloir supprimer cette photo ?" %>
          </div>
          <%= image_tag(asset.asset.url(:thumb)) %>
          
        </li>
        <% end %>
      </ul>
      <div style="clear:both"></div>
    </div>
 
    <div style="margin-top:10px;">
     <span class="asset_type"> Photos non diffusables (<%= link_to "Nouvelle photo non diffusable", new_private_photo_link(tool)  %> )</span><hr/>
      <ul class="documents_list">
        <% tool.tool_private_photos.each do |asset| %>
         <li class="actions_box">
            <div class="actions">
            <%= link_to image_tag("admin/edit_icon.png"), edit_private_photo_link(tool, asset) %>
            <%= link_to image_tag("admin/delete_icon.png"), destroy_private_photo_link(tool, asset), :method => :delete, :confirm => "Etes-vous certain de vouloir supprimer cette photo ?" %>
          </div>
            <%= image_tag(asset.asset.url(:thumb)) %>
            
          </li>
        <% end %>
      </ul>
     <div style="clear:both"></div>
    </div>
  
    <div style="margin-top:10px;">
      <span class="asset_type">Plaquettes (<%= link_to "Nouvelle plaquette", new_brochure_link(tool)  %> )</span><hr/>
      
        <% tool.tool_brochures.each do |asset| %>

            <%= asset.asset_file_name %>
            <%= link_to image_tag("admin/edit_icon.png"), edit_brochure_link(tool, asset) %>
            <%= link_to image_tag("admin/delete_icon.png"), destroy_brochure_link(tool, asset), :method => :delete, :confirm => "Etes-vous certain de vouloir supprimer cette photo ?" %><br/>

        <% end %>
  
     <div style="clear:both"></div>
    </div>
  
    <div style="margin-top:10px;">
      <span class="asset_type">Schémas (<%= link_to "Nouveau schéma", new_schema_link(tool)  %> )</span><hr/>
      <% tool.tool_schemas.each do |asset| %>
        <%= asset.asset_file_name %>
      <%= link_to image_tag("admin/edit_icon.png"), edit_schema_link(tool, asset) %>
            <%= link_to image_tag("admin/delete_icon.png"), destroy_schema_link(tool, asset), :method => :delete, :confirm => "Etes-vous certain de vouloir supprimer cette photo ?" %>
<br/>
      <% end %>
    </div>
</div>