<p class="blue_title">Fiche équipement</p>


<%= tools_navigation_table(@software.id) %>

<div class="tool_show">
  <div class="tool_top_show"></div>
  <div class="tool_middle_show">
    <table width="100%">
      <tr>
    <% if @software.tool_public_photos.size>0 %>
        <td style="max-width:300px;vertical-align:top">
           <div class="tool_image">
            <div class="ppy" id="images_scroll">
              <ul class="ppy-imglist">
                <% @software.tool_public_photos.each do |asset| %>
                  <li>
                    <%= link_to image_tag(asset.asset.url(:profile)), asset.asset.url(:profile)  %>
                  </li>
                <% end %>
              </ul>
              <div class="ppy-outer">
                  <div class="ppy-stage">
                      <div class="ppy-counter">

                      </div>
                  </div>
                  <div class="ppy-nav">
                    <a class="ppy-prev" title="Previous image"><</a>
                      <a class="ppy-next" title="Next image">></a>

                  </div>
              </div>
          </div>
         </div>          
        </td>
    <% end %>
        <td style="vertical-align:top">
          <div class="tool_infos">
          <% if @software.laboratory && @software.laboratory.logo_file_name %>
            <div style="float:right;margin:10px;"><%= image_tag(@software.laboratory.logo.url(:thumb)) %></div>
          <% end %>
       
            <label>Nom :</label> <%= @software.name %><br/>
            <label>Type : </label>Logiciel<br/>
            <label>Sous type :</label> <%= @software.tool_subtype %><br/>
            <label>Marque :</label> <%= @software.brand %><br/>
            <label>Version :</label> <%= @software.version %><br/>
            <label>Quantité :</label> <%= @software.quantity %><br/>
            <label>Laboratoire :</label> <%= @software.laboratory %><br/>
            <% if current_user %>
              <label>Entité(s) de recherche :</label> <%= @software.search_entities %><br/>
              <label>Sous-entité(s) :</label> <%= @software.search_subentities %><br/>
            <% end %>
            <label>Statut du logiciel :</label> <br/>
            <label>Domaines d'applications :</label> <%= @software.software_application_domains %><br/>
            <label>Précisions :</label> <%= @software.software_application_domain_comment %><br/>
            <% if current_user %>
              <label>Logiciel permettant de développer des programmes internes ?</label> <%= @software.software_can_develop_programs.eql?(1) ? "oui" : "non" %><br/>
            <br/><br/>
            <%#= link_to "Télécharger la fiche au format PDF", to_pdf_software_path(@software, :format => "pdf") %>
            <% end %>
          </div>

          <div style="clear:both"></div>
        </td>
      </tr></table>


    <div id="accordion">
        <h3><a href="#">Description et usages du Logiciel</a></h3>
        <div><%= simple_format @software.software_description %></div>
        <% if current_user %>
          <h3><a href="#">Spécificités techniques du Logiciel</a></h3>
          <div><%= simple_format @software.specifications %></div>
        <% end %>
        <h3><a href="#">Caractéristiques de partage et de diffusion du logiciel</a></h3>
        <div><%= simple_format @software.software_sharing_conditions %></div>
        <% if current_user %>
          <h3><a href="#">Commentaires</a></h3>
          <div><%= simple_format @software.comment %></div>
        <% end %>
        <h3><a href="#">Liens</a></h3>
        <div>
          <label>Equipement(s) lié(s) : </label>
          <%= render :partial => "tool_relations/index", :locals => {:tool => @software} %><br/>
          <label>Lien(s) web : </label>
          <%  @software.website.split(",").each do |link| %>
            <%= link_to link, link %>
          <% end %>
     <br/>
          
        
        </div>
        <h3><a href="#">Demande d'informations</a></h3>
        <div>
         <%= render :partial => "tools/get_information", :locals => {:tool => @software} %>
        </div>
        <% if current_user %>
          <h3><a href="#">Correspondant(s)</a></h3>
          <div>
            <%= render :partial => "correspondents/index", :locals => {:correspondents => @software.correspondents} %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="tool_bottom_show"></div>
</div>




<p class="link_to_back">
  <%= link_to " << Retour", :back %>
</p>

<% if current_user %>
<%= javascript_tag("$(function() {   
    $('#accordion').accordion({active:1} );
})") %>
<% else %>
<%= javascript_tag("$(function() {
    $('#accordion').accordion();

})") %>
<% end %>

<%= javascript_tag("$(function() {
    $('#images_scroll').popeye();
});") %>


