<h1>Bienvenue sur la base de données équipements des laboratoires de génie civil de la région</h1>




<%= tools_navigation_table(@software.id,"Software") %>

<div class="tool_show">
  <div class="tool_top_show"></div>
  <div class="tool_middle_show">
    <table width="100%">
      <tr>
        <% photos = current_user ? (@software.tool_public_photos+@software.tool_private_photos) : @software.tool_public_photos%>
    <% if photos.size>0 %>
        <td style="max-width:300px;vertical-align:top">
           <div class="tool_image">
            <div class="ppy" id="images_scroll">
              <ul class="ppy-imglist">
                
                <% photos.each do |asset| %>
                  <li>
                    <%= link_to image_tag(asset.asset.url(:profile)), asset.asset.url(:profile)  %>
                  </li>
                <% end %>
              </ul>
              <div class="ppy-outer">
                  <div class="ppy-stage">
                      <div class="ppy-counter">

                      </div>
                  </div>
                  <div class="ppy-nav">
                    <a class="ppy-prev" title="Previous image"><</a>
                      <a class="ppy-next" title="Next image">></a>

                  </div>
              </div>
          </div>
         </div>          
        </td>
    <% end %>
        <td style="vertical-align:top">
          <div class="tool_infos">
          <% if @software.laboratory && @software.laboratory.logo_file_name %>
            <div style="float:right;margin:10px;"><%= image_tag(@software.laboratory.logo.url(:thumb)) %></div>
          <% end %>
       
            <label>Nom :</label> <b><%= @software.name %></b><br/>
            <label>Type : </label>Logiciel<br/>
            <% if !@software.tool_subtype.blank? %><label>Sous type :</label> <%= @software.tool_subtype %><br/><% end %>
            <% if !@software.brand.blank? %><label>Marque :</label> <%= @software.brand %><br/><% end %>
            <% if !@software.version.blank? %><label>Version :</label> <%= @software.version %><br/> <% end %>
            <% if !@software.laboratory.blank? %><label>Laboratoire :</label> <%= @software.laboratory %><br/><% end %>
            <% if current_user %>
              <% if @software.search_entities.size>0 %><label>Entité(s) de recherche :</label> <%= @software.search_entities %><br/><% end %>
              <% if @software.search_subentities.size>0 %><label>Sous-entité(s) :</label> <%= @software.search_subentities %><br/><% end %>
            <% end %>
            <% if @software.software_statuses.size>0 %><label>Statut du logiciel :</label> <%= @software.software_statuses.join(", ") if @software.software_statuses%><br/><% end %>
            <% if @software.software_application_domains.size>0 %><label>Domaines d'applications :</label> <%= @software.software_application_domains.join(", ") if @software.software_application_domains%><br/><% end %>
            <% if !@software.software_application_domain_comment.blank? %><label>Précisions :</label> <%= @software.software_application_domain_comment %><br/><% end %>
            <% if current_user %>
              <label>Logiciel permettant de développer des programmes internes ?</label> <%= @software.software_can_develop_programs ? "Oui" : "Non" %><br/>
            <br/><br/>
            <%= link_to "Télécharger la fiche au format PDF", to_pdf_software_path(@software, :format => "pdf"), :class => "download_pdf" %>
            <% end %>
          </div>

          <div style="clear:both"></div>
        </td>
      </tr></table>


    <div id="accordion">
      <% if !@software.software_description.blank? %>
        <h3><a href="#">Description et usages du Logiciel</a></h3>
        <div><%= simple_format @software.software_description %></div>
      <% end %>
        <% if current_user && !@software.specifications.blank? %>
          <h3><a href="#">Spécificités techniques du Logiciel</a></h3>
          <div><%= simple_format @software.specifications %></div>
        <% end %>
        <% if current_user %>
          <% if !@software.software_sharing_conditions.blank? %>
            <h3><a href="#">Caractéristiques de partage et de diffusion du logiciel</a></h3>
            <div><%= simple_format @software.software_sharing_conditions %></div>
          <% end %>
        <% end %>
        <% if current_user %>
          <% if !@software.explanatory_document.blank? %>
            <h3><a href="#">Document(s) explicatif(s)</a></h3>
            <div><%= simple_format @software.explanatory_document %></div>
          <% end %>
          <% if !@software.comment.blank? %>
            <h3><a href="#">Autre(s) commentaire(s)</a></h3>
            <div><%= simple_format(@software.comment).gsub("<p>","") %></div>
          <% end %>
        <% end %>
        <h3><a href="#">Liens</a></h3>
        <div>
          <% if (@software.tool_public_photos.size>0 || @software.tool_brochures.size>0 || (current_user && (@software.tool_private_photos.size>0 || @software.tool_brochures.size>0))) %>
            <label>Documents annexes : </label><br/><br/>
            <%  if @software.tool_public_photos.size>0 || (current_user && @software.tool_private_photos.size>0)%>
              Photo(s) :<br />
            <% end %>
            <%= render :partial => "tool_public_photos/index", :locals => { :photos => @software.tool_public_photos} %>
            <%= render :partial => "tool_private_photos/index", :locals => { :photos => @software.tool_private_photos} %>
            <%= render :partial => "tool_brochures/index", :locals => { :brochures => @software.tool_brochures} %>
            <%= render :partial => "tool_schemas/index", :locals => { :schemas => @software.tool_schemas} %>
          <br/>
          <% end %>
          <% if @software.relations_from.size>0 || @software.relations_to.size>0 %>
            <label>Equipement(s) lié(s) : </label>
            <%= render :partial => "tool_relations/index", :locals => {:tool => @software} %><br/>
          <% end %>
          <% if !@software.website.blank? %>
            <label>Lien(s) web : </label>
            <div style="margin-left:10px;">
              <%  @software.website.split(",").each do |link| %>
                - <%= link_to link, link, :target => "_blank" %>
              <% end %>
            </div>
             <br />
          <% end %>
          <br/>
          
          
        
        </div>
        <h3><a href="#">Demande d'informations</a></h3>
        <div>
         <%= render :partial => "tools/get_information", :locals => {:tool => @software} %>
        </div>
        <% if current_user && @software.correspondents%>
          <h3><a href="#">Correspondant(s)</a></h3>
          <div>
            <%= render :partial => "correspondents/index", :locals => {:correspondents => @software.correspondents, :main_correspondent =>  @software.main_correspondent} %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="tool_bottom_show"></div>
</div>



<% if current_user %>
<%= javascript_tag("$(function() {   
    $('#accordion').accordion({active:1} );
})") %>
<% else %>
<%= javascript_tag("$(function() {
    $('#accordion').accordion();

})") %>
<% end %>

<%= javascript_tag("$(function() {
    $('#images_scroll').popeye();
$('a.correspondent_tooltip').tooltip({showURL:false,fade: 250});
});") %>


