<% unless @software.new_record? %>
<div style="width:45%;float:left">
<% end %>
<table id="table_form">
  <tr>
    <td class="label_td"><label>Nom</label></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td class="label_td"><label>Sous-type</label></td>
    <td><%= f.select :tool_subtype_id, ToolSubtype.for_softwares.collect{|s| [s.name, s.id]}.sort, :include_blank => true %></td>
  </tr>
  <tr>
    <td class="label_td"><label>Marque(s)</label></td>
    <td><%= f.text_field :brand %></td>
  </tr>
  <tr>
    <td class="label_td"><label>Version(s)</label></td>
    <td><%= f.text_field :version %></td>
  </tr>  
  <tr>
    <td class="label_td"><label>Laboratoire</label></td>
    <td><%= f.select :laboratory_id, Laboratory.all.collect{|a| [a.name, a.id]}.sort, :include_blank => true %></td>
  </tr>
  <tr>
    <td class="label_td"><label>Statut(s)</label></td>
    <td><%= f.select :software_status_ids, (SoftwareStatus.all.collect{|s| [s.name, s.id]}<<["- Aucun -",""]).sort,{}, :multiple => true %></td>
  </tr>
  <tr>
    <td class="label_td"><label>Domaines d'application</label></td>
    <td><%= f.select :software_application_domain_ids, (SoftwareApplicationDomain.all.collect{|d| [d.application_domain, d.id]}<<["- Aucun -",""]).sort,{}, :multiple => true %></td>
  </tr>
  <tr>
    <td class="label_td"><label>Précisions</label></td>
    <td><%= f.text_area :software_application_domain_comment %></td>
  </tr>
  <tr>
    <td class="label_td"><label>Logiciel permettant de développer des programmes à usage interne </label></td>
    <td>
      <%=  f.radio_button :software_can_develop_programs, true %>Oui
      <%=  f.radio_button :software_can_develop_programs, false %>Non

    </td>
  </tr>
  <tr>
    <td class="label_td"><label>Description et usages du Logiciel</label></td>
    <td><%= f.text_area :software_description %></td>
  </tr>
  <tr>
    <td class="label_td"><label>Spécificités techniques du Logiciel</label></td>
    <td><%= f.text_area :specifications %></td>
  </tr>
  <tr>
    <td class="label_td"><label>Caractéristiques de partage et de diffusion du logiciel</label></td>
    <td><%= f.text_area :software_sharing_conditions %></td>
  </tr>
  
  <tr>
    <td class="label_td"><label>Document(s) explicatif(s)</label></td>
    <td><%= f.text_area :explanatory_document %></td>
  </tr>
  <tr>
    <td class="label_td"><label>Lien internet sur l’équipement (site constructeur/marque) </label></td>
    <td><%= f.text_field :website %></td>
  </tr>
  <tr>
    <td class="label_td"><label>Autre(s) commentaire(s)</label></td>
    <td><%= f.text_area :comment %></td>
  </tr>
   
  <tr id="linked_tools">
    <td class="label_td"><label>Equipement(s) lié(s)</label></td>
    <td><%= f.select :linked_tools,
  (@software.new_record? || @software.laboratory.blank? ? (Tool.all.collect{|c| ["#{c.main_correspondent ? c.name+' - '+c.main_correspondent.name : c.name}", c.id]}<<["- Aucun -",""]).sort{|a,b| a[0].remove_simple_accent <=> b[0]} :
    (((@software.laboratory.tools-(@software.to_a)).collect{|c| ["#{c.main_correspondent ? c.name+' - '+c.main_correspondent.name : c.name}", c.id]}<<["- Aucun -",""]).sort{|a,b| a[0].remove_simple_accent <=> b[0]})),
  {:selected => (@software.relations_from.collect(&:tool_to_id)+@software.relations_to.collect(&:tool_from_id)).flatten.uniq},{:multiple => true} %></td>
  </tr>
   <tr id="main_correspondent">
      <td class="label_td"><label>Correspondant principal</label></td>
      <td><%= f.select :main_correspondent_id, (@software.new_record? || !@software.laboratory ? User.correspondents.collect{|c| [c.name, c.id]}<<["- Aucun -",""] : @software.laboratory.correspondents.collect{|c| [c.name, c.id]}<<["- Aucun -",""]).sort,{:selected => @software.main_correspondent ? @software.main_correspondent.id : nil} %></td>
    </tr>
     <tr id="correspondents">
      <td class="label_td"><label>Correspondant(s) secondaire(s)</label></td>
      <td><%= f.select :secondary_correspondent_ids, (@software.new_record? || !@software.laboratory ? User.correspondents.collect{|c| [c.name, c.id]}<<["- Aucun -",""] : @software.laboratory.correspondents.collect{|c| [c.name, c.id]}<<["- Aucun -",""]).sort,{ :selected => @software.secondary_correspondents ? @software.secondary_correspondents.collect(&:id) : nil}, :multiple => true %></td>
    </tr>
  <tr>
    <td><label>Affichage sur site</label></td>
    <td><%=  f.radio_button :privacy, "Tous publics", {:checked => @software.new_record? || !@software.privacy.eql?("Restreint") ? true : false} %>Tous publics
      <%=  f.radio_button :privacy, "Restreint", {:checked => @software.privacy.eql?("Restreint")} %>Restreint
</td>
  </tr>
</table>
  <% unless @software.new_record? %>
</div>
<% end %>
<% unless @software.new_record? %>
<div style="width:45%;float:right">
  <%= render :partial => "admin/tool_public_photos/form", :locals => {:f => f} %>
  <%= render :partial => "admin/tool_private_photos/form", :locals => {:f => f} %>
  <%= render :partial => "admin/tool_schemas/form", :locals => {:f => f} %>
  <%= render :partial => "admin/tool_brochures/form", :locals => {:f => f} %>

</div>
<% end %>
<script>
  jQuery(document).ready(function () {
    jQuery("#software_laboratory_id").change(function() {
       jQuery.ajax({
            type: "GET",
            data: "laboratory_id="+jQuery(this).val()+"&tool_id=<%= @software.id %>",
            url: "<%=  update_tools_admin_softwares_path %>"
        });     
    })
  });
</script>


