<p><b>Bienvenue sur la base de données équipements des laboratoires de génie civil de la région.</b></p>
<div style="clear:both"></div>

<% if ToolPublicPhoto.all.size>0 %>
<div class="scroll_assets">
  <!-- "previous page" action -->
  <div class="prevPage browse left">&nbsp;&nbsp;</div>

  <!-- root element for scrollable -->
  <div class="scrollable">

      <!-- root element for the items -->
      <div class="items">
          <% Tool.all.select{|t| t.tool_public_photos.size>0}[0,20].each do |tool| %>
            <% Tool.find(tool.id).tool_public_photos.each do |photo| %>
              <%= link_to image_tag(photo.asset.url(:thumb)),tool, :title => photo.legend  %>
            <% end %>
          <% end %>
      </div>

  </div>

  <!-- "next page" action -->
  <div class="nextPage browse right">&nbsp;&nbsp;</div>
</div>

<% end %>
<div style="clear:both"></div>
<div class="tools_details">
  Logiciels : <%=  Software.count %><br/>
  Moyens d'essai : <%=  TestEngine.count %><br/>
  Machines-outils: <%= ToolEngine.count %> <br/>
  Moyen de mesure et d'analyse : <%= MeasuringEngine.count %><br/>
</div>



<p class="blue_title"><%= link_to "Accéder à la base de données", tools_path %></p>

<%= @page.parts.find_by_name("body").content  %>
<script>
// execute your scripts when the DOM is ready. this is a good habit
$(function() {
    // initialize scrollable
    $("div.scrollable").scrollable({
      size: 1,
      loop: true 
    }).circular();
   

});
</script>

