<h1>Bienvenue sur la base de données équipements des laboratoires de génie civil de la région</h1>
<div style="clear:both"></div>




<p class="blue_title" style="float:left;"><%= link_to "Accéder à la base de données (<span class='small'>Dernière mise à jour le #{l(find_last_update, :format => :maj_database)}</span>)", tools_path %></p>
<p class="help_link"><%= link_to "Aide", helps_path %></p>

<div class="clear"></div>
<%= @page.parts.find_by_name("haut").content  %>

<% if ToolPublicPhoto.all.size>0 %>
<div class="scroll_assets">
  <!-- "previous page" action -->
  <div class="prev browse left">&nbsp;&nbsp;</div>

  <!-- root element for scrollable -->
  <div class="scrollable">

      <!-- root element for the items -->
      <div class="items">    
          <% ToolAsset.all.select{|a| a.in_scrollable.eql?(1) }.each do |a| %>
              <%= link_to image_tag(a.asset.url(:thumb)),a.tool, :title => a.legend  %>
          <% end %>
      </div>

  </div>

  <!-- "next page" action -->
  <div class="next browse right">&nbsp;&nbsp;</div>
</div>

<% end %>
<div style="clear:both"></div>
<div class="tools_details">
  Logiciels : <%=  Software.count %>,  Moyens d'essai : <%=  TestEngine.count %>, Machines-outils: <%= ToolEngine.count %>, Moyens de mesure et d'analyse : <%= MeasuringEngine.count %><br/>
</div>

<%= @page.parts.find_by_name("bas").content  %><br/>
<p class="blue_title" style="float:left;"><%= link_to "Accéder à la base de données (<span class='small'>Dernière mise à jour le #{l(find_last_update, :format => :maj_database)}</span>)", tools_path %></p>
<p class="help_link"><%= link_to "Aide", helps_path %></p>
<script type="text/javascript">
// execute your scripts when the DOM is ready. this is a good habit
$(function() {

    // initialize scrollable together with the autoscroll plugin
var root = $("div.scrollable").scrollable({circular: true}).autoscroll({ autoplay: false });

// provide scrollable API for the action buttons
window.api = root.data("scrollable");




});
</script>

<% if current_user %>
  <script type="text/javascript">
    $(document).ready(function () {
      admin_link = "<a href='/admin' target='_blank' class='admin_link'>Accéder à l'administration</a>";
      database_link = jQuery(".link_to_database");
      database_link.append(admin_link);

    });
  </script>
<% end %>

