 <div style="margin-top:10px;">
    <div class="nested_title">
      <span class="asset_type">Photos diffusables (<%= f.link_to_add "+ Ajouter une photo diffusable", :tool_public_photos %>)</span><hr/>
    </div>
    <% f.fields_for :tool_public_photos do |public_photos_form| %>      
      <table class="nested_table" style="width:100%;margin-top:20px;">
        <tr>
          <td colspan="2">
            <%= image_tag public_photos_form.object.asset.url %>
          </td>
        </tr>
        <tr>
          <td><label>Document</label></td>
          <td><%= public_photos_form.file_field :asset %></td>
        </tr>
        <tr>
          <td><label>Légende</label></td>
          <td><%= public_photos_form.text_field :legend %></td>
        </tr>
        <% if current_user.pgce_user? %>
          <tr>
            <td><label>Afficher dans le bandeau photo?</label></td>
            <td><%= public_photos_form.check_box :in_scrollable %></td>
          </tr>
          <% end %>
          
      </table>
      <%= public_photos_form.link_to_remove "Supprimer cette pĥoto" %>      
    <% end %>
</div>



